/* this contains the styles for home page and its components like list of projects etc */
#project-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0px auto;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#project-author {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #888;
}

#project-description {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: none;
  }
  Step 
#project-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #47aa47ce;
    color: #333;
    text-decoration: none;
    border: none;
    transition: box-shadow 0.3s ease;
    border-radius: 7%;
}
